EXPO_PUBLIC_SUPABASE_URL=https://imofcovytgqykwbgiujq.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imltb2Zjb3Z5dGdxeWt3YmdpdWpxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExODE3MzAsImV4cCI6MjA4Njc1NzczMH0.RFsiyptebEYzzGHRYPfqUHRyu94Gik_-vFP57VlccaE
EXPO_PUBLIC_TRUELAYER_REDIRECT_URI=https://native-app-blush.vercel.app/api/truelayer/callback
